
@{
    ViewBag.Title = "Search";
}

<hr />
<h1>Search for a profile</h1>


<form action="/profile/results">

    <label>First Name:</label>
    <br />
    <input type="text" name="searchFirstName" />
    <br />

    <label>Last Name:</label>
    <br />
    <input type="text" name="searchLastName" />
    <br />

    <br />
    <button class="btn btn success" type="submit">Search profile</button>
</form>

<br />
<br />

