
@{
    ViewBag.Title = "Adding a new photo";
}

<h2>@ViewBag.Title</h2>

<form method="post" action="/photo/new/@ViewBag.ProfileId">

    <h4>Photo URL: </h4>
    <br />
    <input type="text" name="Src" />
    <br />

    <br />
    <button class="btn btn success" type="submit">Add photo</button>
</form>
