
@{
    ViewBag.Title = "Displaying users";
}

<h1>Displaying users</h1>

<h2>@ViewBag.User.name</h2>
<p>@ViewBag.User.age</p>
<p>@ViewBag.User.description</p>

<a class="btn btn-success" href="/user/edit/@ViewBag.User.id">Edit user</a>
<br />

<form method="post" action="/user/delete/@ViewBag.User.id">

    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <br />
    <button class="btn btn-success" type="submit">Delete user</button>

</form>

<br />
<hr />
<a class="btn btn-success" href="/users">Back to users</a>
<br /><br />
<a class="btn btn-info" href="/user/new">Create user</a>
<br />


